services:
  web:
    build:
      context: .
      target: runner # Production stage
    container_name: biscayne-hoa
    restart: always
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=production
